<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="kakao_map">
		<div class="wrapper">
			<form action="">
				{% csrf_token %}
				{{form.as_table }}
				<i class="fas fa-search"></i>
			</form>
			<ul class="category">
				<li class="hospital">
					<i class="fas fa-plus-square icon"></i>
					<span>선별 진료소</span>
				</li>
				<li class="gps">
					<i class="fas fa-map-marker-alt icon"></i>
					<fa-3x></fa-3x>
					<span>나의 위치</span>
				</li>
			</ul>
		</div>
		<div id="map" style="width:100vw;height:100vh;"></div>
	
	</div>
	<script></script>
</body>
</html>