.main{
	display: flex;
	/* width: 100vw; */
	height: 100vh;
}
.corona_map{
	flex: 8.5;
}
/* .map{
	z-index: 1;
	flex: 7.5;
} */
li{
	list-style: none;
}
.search_list{
	flex: 2;
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 25px;
	z-index: 20;
	background-color: white;
	width: 200px;
	height: 200px;
	top: 50px;
}
.confirmed_info{
	margin-bottom: 10px;
}
.confirmed_date{
	margin-bottom:5px;
}
.confirmed_place{
	padding-left: 0;
}
.place{
	margin-top: 10px;
	margin-bottom: 5px;
}
.add_btn{
	padding: 0;
	margin: 0;
}
.patient_wrap{
	/* position: relative;
	left: 10px; */
	background-color: white;
	width: 190px;
	height: 70px;
	border-radius: 20px;
	/* margin-left: 10px; */
	/* padding-left: 10px; */
}
.patient_title_wrap{
	background-color: lightblue;
	height: 25px;
}
.patient_title{
	/* position: relative;
	left: 10px; */
	/* background-color: lightgreen; */
	margin-left: 10px;
	height: 20px;
	margin-bottom: 5px;
}
.patient_content{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 13px;
}
